.env*
**/*.local.*
.git/
.gitignore
.idea/
.github/
Dockerfile
jest.config.js
test
**/test/
**/nodemon.json
.editorconfig
build/
**/build/
generated/
**/generated/
.yarn/
node_modules/
**/node_modules/
.eslint*
.prettier*
.env
**/.env
.DS_Store
.vscode/
*.log
